node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.vercel

# Capacitor
android/app/build/
android/.gradle/
android/.idea/
android/local.properties
ios/App/build/
ios/App/Pods/
.capacitor/
